<div class="user_contents_wrapper">
  <div class="user_contents">
    <div class="user_edit_logo">
      <%= image_tag "main_logo.png" %><%# 大きいロゴを用意 %>
    </div>
    <h2 class="user_page_title">ユーザー編集</h2>
    <%= form_with model: current_user, local: true do |f|%>
      <div class="user_edit_field">
        <div class="user_edit_field_left">
          <%= image_tag "no_image.png", class: "edit_current_user_image" %>
        </div>
        <div class="user_edit_field_right">
            <%= f.text_field :name, autofocus: true, class: "login_input", placeholder: "Name" %>
            <%= f.email_field :email, class: "login_input", placeholder: "Email" %>
        </div>
      </div>
      <%= f.submit "更新", class: 'user_update_btn'%>
    <% end %>
    <div class="user_delete_link">
      <%= link_to "ユーザー削除", user_registration_path(current_user), method: :delete, data: {confirm: "ユーザーを削除してもよろしいですか？"} %>
    </div>
  </div>
</div>