<div class="side_bar_top">
  <div class="main_logo_wrapper">
    <%= image_tag "main_logo.png" %>
  </div>
</div>

<div class="side_bar_contents">

  <div class="categories">
    <div class="new_character_btn_wrapper">
      <%= link_to new_character_path, id: "new_character_btn" do %>
        <i class="fa-solid fa-user-plus fa-lg"></i>新規データ登録
      <% end %>
    </div>
    <%= link_to root_path, id: "category_all" do %>
      <i class="fa-solid fa-house fa-lg"></i>全てのデータ
    <% end %>
    <% @categories.each do |category| %>
      <div class="category">
        <%= link_to category_path(category), class: "category_btn" do %>
          <i class="fa-solid fa-user-group"></i><%= category.name %>
        <% end %>
      </div>
    <% end %>
    <%= link_to new_category_path, id: "new_category_btn", class: "category_btn" do %>
      <i class="fa-solid fa-plus fa-lg"></i>カテゴリ追加
    <% end %>
  </div>

  <div class="footer">
    <%= link_to "フィードバックを送信", "#", class: "feedback_link" %>
    <div class="copy_right">
      ©YM Works 2022
    </div>
  </div>
</div>