<div class="side_bar_top">
  <div class="main_logo_wrapper">
    <%= link_to root_path do %>
      <%= image_tag "main_logo.png", class: "main_logo" %>
    <% end %>
  </div>
</div>

<div class="side_bar_contents">

  <div class="categories">
    <div class="new_character_btn_wrapper">
      <%= link_to new_character_path, class: "new_character_btn click_btn_border" do %>
        <i class="fa-solid fa-user-plus fa-lg"></i>新規データ登録
      <% end %>
    </div>
    <% if current_page?(root_path) %>
      <div class="category_all category_btn" id="active_category">
        <i class="fa-solid fa-house fa-lg"></i>全てのデータ
      </div>
    <% else %>
      <%= link_to root_path, class:  "category_all category_btn" do %>
        <i class="fa-solid fa-house fa-lg"></i>全てのデータ
      <% end %>
    <% end %>
    <% @categories.each do |category| %>
      <div class="category">
        <% if category == @category %>
          <div class="category_btn" id="active_category">
            <i class="fa-solid fa-user-group"></i><%= category.name %>
          </div>
        <% else %>
          <%= link_to category_path(category), class: "category_btn" do %>
            <i class="fa-solid fa-user-group"></i><%= category.name %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if current_page?(new_category_path) %>
      <div class="category_btn new_category_btn" id="active_category">
        <i class="fa-solid fa-plus category-plus-icon fa-lg"></i>カテゴリ追加
      </div> 
    <% else %>
      <%= link_to new_category_path, class: "category_btn new_category_btn" do %>
        <i class="fa-solid fa-plus category-plus-icon fa-lg"></i>カテゴリ追加
      <% end %>
    <% end %>
  </div>

  <div class="footer">
    <%= link_to "https://docs.google.com/forms/d/e/1FAIpQLSfIDgp729aN46vSjLe96s_iswtG5zf7_03AtfwCIfvY3lMvZA/viewform", class: "feedback_link click_btn_underline" do %>
      <i class="fa-solid fa-lightbulb"></i>フィードバックを送信
    <% end %>
    <div class="copy_right">
      ©YM Works 2022
    </div>
  </div>
</div>