<div class="main_top">
  <div class="main_top_left">
    <div class="category_title">
      <%= "会社" %>
    </div>
    <div class="category_describe">
      〇〇会社の同僚。２０２０年４月より〜　URL：・・・
    </div>
  </div>
  <div class="main_top_right">
    <%= link_to("ログアウト", destroy_user_session_path, method: :delete) %>
    <%= link_to("ユーザー情報編集", edit_user_path(current_user)) %>
    <%= current_user.name %>
  </div>
</div>

<div class="characters">
  <div class="characters_wrapper">
    <% @characters.each do |character| %>
      <div class="character">
        <div class="character_info">
          <div class="character_image">
            <% if character.image.attached? %>
              <%= image_tag character.image %>
            <% else %>
              <%= image_tag "no_image.png" %>
            <% end %>
          </div>
          <div class="character_name"><%= character.name %></div>
          <div class="detail">
            <%= link_to("詳細編集", edit_character_path(character)) %><br>
            <%= link_to("データ削除", character_path(character), method: :delete) %>
          </div>
        </div>
        <div class="character_topic">
          <div class="past_topic">
            ・ガンバ大阪の観戦<br>
            ・ラグビーについて<br>
            <div class="create_date">6/18(日)</div>
          </div>
          <div class="future_topic">
            ・マンデルチーゲル<br>
            ・朝日あげ<br>
            ・ワクチンについて<br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
