<div class="main_top">
  <div class="main_top_data">
    <div class="top_title">
      新規データ登録
    </div>
    <div class="top_subtitle">
      データと話題を入力し、新規登録して下さい。
    </div>
  </div>
  <div class="main_top_user_data">
    <div class="current_user_name">
      <%= current_user.name %><i class="fa-solid fa-angle-down"></i>
    </div>
    <% if current_user.image.attached? %>
      <%= image_tag current_user.image, class: "current_user_image" %>
    <% else %>
      <%= image_tag "no_image.png", class: "current_user_image" %>
    <% end %>
    <div class="user_operation">
      <%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "user_operation_btn user_logout_btn") %>
      <%= link_to("ユーザー情報編集", edit_user_path(current_user), class: "user_operation_btn user_edit_btn") %>
    </div>
  </div>
</div>

<div class="main_top_sub">
  <div class="main_top_sub_left">
    <%= link_to "入力ヘルプ", "#", class: "sort_btn click_btn" %>
  </div>
  <div class="main_top_sub_right">
  </div>
</div>

<div class="main_contents">
  <div class="main_contents_wrapper">

    <%= form_with model: @character_topic, url: characters_path, class: "edit_character_form", local: true do |f| %>

      <div class="edit_profile_form">
        <div class="edit_profile_form_left">
          <%= render "shared/error_messages", model: f.object %>
          <div class="character_image_field">
            <div class='selected_character_image_wrapper', onClick="document.getElementById('edit_character_image').click()">
              <%= image_tag "no_image.png", class: "selected_character_image" %>
            </div>
            <%= f.file_field :image, id:"edit_character_image" %>
            <div class="character_camera_btn" onClick="document.getElementById('edit_character_image').click()">
              <i class="fa-solid fa-camera"></i>
            </div>
          </div>
          <div class='character_name_field'>
            <p>Name<span>※</span></p>
            <%= f.text_field :name, autofocus: true, class: "edit_character_name" %>
          </div>
          <div class='character_submit_field'>
            <%= f.submit "新規登録", class: 'character_submit_btn click_btn' %>
          </div>        
        </div>

        <div class="edit_profile_form_right">
          <div class='character_category_field character_field'>
            <p>Category</p>
            <div class="affiliation_category">
            </div>
            <button type="button" class="category_list_open_btn click_btn">カテゴリ選択</button>
            <div class="category_select_box">
              <% @categories.each do |category| %>
                <div class="check_btn">
                  <input type="checkbox" name="character_topic[category_ids][]" class="category_checkbox" id="<%= category.id %>" value="<%= category.id %>" multiple>
                  <label for="<%= category.id %>" class="category_check_btn" >
                      <%= category.name %>
                    </label>
                </div>
              <% end %>
            </div>
          </div>
          <div class='character_sns_field character_field'>
            <p>SNS / URL</p>
            <p>■　■　■</p>
            <%= f.url_field :url, class: "edit_character_sns" %>
          </div>
          <div class='character_description_field character_field'>
            <p>Description</p>
            <%= f.text_area :describe, class: "edit_character_description" %>
          </div>
        </div>
      </div>

      <div class="new_character_topic_form">
        <p>Topic</p>
        <div class="edit_character_future_topic">
          <div class="edit_character_topic_type">
            Future
          </div>
          <div class="edit_character_topic">
            <%= f.text_area :future_topic, class: "topic_input future_topic_input" %>
          </div>
        </div>
        <div id="past_topics">
          <div class="edit_character_topic_type">
            Past
          </div>
          <div class="edit_character_topic">
            <%= f.date_field :created_date, class: "created_date" %>              
            <%= f.text_area :past_topic, class: "topic_input past_topic_input" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
