<div class="main_top">
  <div class="main_top_data">
    <div class="top_title">
      詳細データ編集
    </div>
    <div class="top_subtitle">
      詳細データの編集が行えます。
    </div>
  </div>
  <div class="main_top_user_data">
    <div class="current_user_name">
      <%= current_user.name %><i class="fa-solid fa-angle-down"></i>
    </div>
    <%= image_tag "no_image.png", class: "current_user_image" %>
    <div class="user_operation">
      <%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "user_operation_btn user_logout_btn") %>
      <%= link_to("ユーザー情報編集", edit_user_path(current_user), class: "user_operation_btn user_edit_btn") %>
    </div>
  </div>
</div>

<div class="main_top_sub">
  <div class="main_top_sub_left">
    <%= link_to "入力ヘルプ", "#", class: "sort_btn click_btn" %>
  </div>
  <div class="main_top_sub_right">
  </div>
</div>

<div class="main_contents">
  <div class="main_contents_wrapper">
    
    <div class="edit_character_form">
      <%= form_with model: @character, local: true, class: "edit_profile_form" do |f|%>
        <div class="edit_profile_form_left">
          <%= render "shared/error_messages", model: f.object %>
          <div class='character_image_field'>
            <% if @character.image.attached? %>
              <%= image_tag @character.image, class: "selected_character_image", onClick:"document.getElementById('edit_character_image').click()" %>
            <% else %>
              <%= image_tag "no_image.png", class: "selected_character_image", onClick:"document.getElementById('edit_character_image').click()" %>
            <% end %>
            <%= f.file_field :image, id:"edit_character_image" %>
          </div>
          <div class='character_name_field'>
            <p>Name<span>※</span></p>
            <%= f.text_field :name, autofocus: true, class: "edit_character_name" %>
          </div>
          <div class='character_submit_field'>
            <%= f.submit "更新", class: 'character_submit_btn character_update_btn click_btn' %>
            <%= link_to("削除", character_path(@character), method: :delete, data: {confirm: "「#{@character.name}」のデータを削除してもよろしいですか？"}, class: "character_submit_btn character_delete_btn click_btn") %>
          </div>
        </div>

        <div class="edit_profile_form_right">
          <div class='character_category_field character_field'>
            <p>Category</p>
            <div class="affiliation_category">
              <% @character.categories.each do |category| %>
                <%= link_to category.name, category_path(category), class: "selected_category" %>
              <% end %>
            </div>
            <button type="button" class="category_list_open_btn click_btn">カテゴリ選択</button>
              <div class="category_select_box">
                <% @categories.each do |category| %>
                  <div class="check_btn">
                    <input type="checkbox" name="character[category_ids][]" class="category_checkbox" id="<%= category.id %>" value="<%= category.id %>" multiple <%= "checked" if @character.category_ids.include?(category.id) %>>
                    <label for="<%= category.id %>" class="category_check_btn" >
                      <%= category.name %>
                    </label>
                  </div>
                <% end %>
              </div>
          </div>
          <div class='character_sns_field character_field'>
            <p>SNS / URL</p>
            <p>■　■　■</p>
            <%= f.url_field :url, class: "edit_character_sns" %>
          </div>
          <div class='character_description_field character_field'>
            <p>Description</p>
            <%= f.text_area :describe, class: "edit_character_description" %>
          </div>
        </div>

      <% end %>

      <div class="edit_character_topic_form">
        <p>Topic</p>
        <div class="edit_character_future_topic">
          <div class="edit_character_topic_type">
              Future
          </div>
          <%= form_with model: @latest_future_topic, class: "edit_character_topic", data: @latest_future_topic.id, local: true do |f| %>
            <%= f.text_area :future_topic, class: "topic_input future_topic_input" %>
          <% end %>
        </div>

        <div id="past_topics">
          <div class="edit_character_topic_type">
            Past
          </div>
          
          <a id="new_topic_btn" data-character_id="<%= @character.id %>"><%= image_tag "/images/add_btn.png", class: "topic_btn_image" %></a>
          <% @past_topics.each do |past_topic| %>
            <div id="past_topic_<%= past_topic.id %>">
              <%= form_with model: past_topic, class: "edit_character_topic_past_topic", data: past_topic.id, local: true do |f| %>
                <%= f.date_field :created_date, class: "created_date past_topic_input past_topic_create_date" %>              
                <%= f.text_area :past_topic, class: "topic_input past_topic_input past_topic_text" %>
                <a class="delete_topic_btn" data="<%= past_topic.id %>"><%= image_tag "/images/delete_btn.png", class: "topic_btn_image" %></a>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
