<div class="user_contents_wrapper">
  <div class="user_contents">
    <h1 class="main_slogan">人とのつながりを話題で管理するアプリ</h1>
    <div class="login_logo">
      <%= image_tag "main_logo.png" %><%# 大きいロゴを用意 %>
    </div>
    <div class="login_field">
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), class: "login_form", local: true do |f|%>
        <%= f.email_field :email, autofocus: true, class: "login_input" %>
        <%= f.password_field :password, autocomplete: "off", class: "login_input" %>
        <%= f.submit "ログイン", class: 'login_btn'%>
      <% end %>
      <div class="other_link">
        <%= link_to "アカウト作成", "#" %>
        <%= link_to "ゲストログイン", "#" %>
      </div>
    </div>
  </div>
</div>