<div class="user_wrapper">
  <div class="user_login">
      <h1 class="main_slogan">人とのつながりを話題で管理するアプリ</h1>
      <div class="login_logo">
        <%= image_tag "main_logo.png" %>
      </div>
      <div class="login_field">
        <%= form_with model: resource, as: resource_name, url: session_path(resource_name), class: "login_form", local: true do |f|%>
          <div class="login_alert"><%= flash[:alert] %></div>
          <%= f.email_field :email, autofocus: true, class: "login_input", placeholder: "Email" %>
          <%= f.password_field :password, autocomplete: "off", class: "login_input", placeholder: "Password" %>
          <%= f.submit "ログイン", class: 'login_btn'%>
          <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "google_login_btn" do %>
            <%= image_tag "g_logo.webp" %>
            <p>Googleアカウントでログイン</p>
          <% end %>
        <% end %>
        <div class="other_link">
          <%= link_to "ユーザー登録", new_user_registration_path %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
        </div>
        <div class="other_link_center">
          <%= link_to "Topic Stockerとは", about_users_path %>
        </div>
      </div>
  </div>
</div>