<div class="main_top">
  <div class="main_top_data">
    <div class="top_title">
      全てのデータ
    </div>
    <div class="top_subtitle">
      全てのデータを表示
    </div>
  </div>
  <div class="main_top_user_data">
    <div class="current_user_name">
      <%= current_user.name %><i class="fa-solid fa-angle-down"></i>
    </div>
    <% if current_user.image.attached? %>
      <%= image_tag current_user.image, class: "current_user_image" %>
    <% else %>
      <%= image_tag "no_image.png", class: "current_user_image" %>
    <% end %>
    <div class="user_operation">
      <%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "user_operation_btn user_logout_btn") %>
      <%= link_to("ユーザー情報編集", edit_user_path(current_user), class: "user_operation_btn user_edit_btn") %>
    </div>
  </div>
</div>

<div class="main_top_sub">
  <div class="main_top_sub_left">
    <% unless params[:sort] %>
      <div class="main_top_sub_btn active">会話日付順</div>
    <% else %>
      <%= link_to "会話日付順", root_path, class: "main_top_sub_btn click_btn" %>
    <% end %>
    <% if params[:sort] == "updated_at" %>
      <div class="main_top_sub_btn active">入力更新順</div>
    <% else %>
      <%= link_to "入力更新順", root_path(sort: "updated_at"), class: "main_top_sub_btn click_btn" %>
    <% end %>
    <div class="main_top_sub_partition"></div>
    <div class="main_top_sub_btn click_btn help_btn">入力ヘルプ</div>
  </div>
  <div class="main_top_sub_right">
    <div id="update_time"></div>
  </div>
</div>

<div class="main_contents">
  <div class="main_contents_wrapper">
    <%= render partial: "main_contents_characters", locals: {characters: @characters}  %>
  </div>
  <%= render partial: "shared/guest_user_notice" %> <%# ボトムインフォ %>
</div>

<% if flash[:guest_user_error] %> <%# ゲスト編集エラーメッセージ %>
  <div class="guest_user_error">
    <p class="guest_user_error_x-mark"><i class="fa-solid fa-xmark"></i></p>
    <p><%= flash[:guest_user_error] %></p>
  </div>
<% end %>

<div class="help_view"> <%# ヘルプ表示 %>
  <div class="help_image_wrapper help_image_wide">
    <p class="help_view_x-mark"><i class="fa-solid fa-xmark"></i></p>
    <%= image_tag 'help/edit_data.png', class: "help_image" %>
  </div>
</div>
