<%= form_with model: @category, local: true do |f| %>
  <div class="main_top">
    <div class="main_top_data category_edit_top_data">
      <div class="top_title">
        <%= f.text_field :name, class: "category_input edit_category_name", placeholder: "カテゴリ名 ※", autofocus: true %>
      </div>
      <div class="top_subtitle">
        <%= f.text_field :describe, class: "category_input edit_category_description", placeholder: "説明" %>
      </div>
    </div>
    <div class="main_top_user_data">
      <div class="current_user_name">
      <%= current_user.name %><i class="fa-solid fa-angle-down"></i>
      </div>
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image, class: "current_user_image" %>
      <% else %>
        <%= image_tag "no_image.png", class: "current_user_image" %>
      <% end %>
      <div class="user_operation">
        <%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "user_operation_btn user_logout_btn") %>
        <%= link_to("ユーザー情報編集", edit_user_path(current_user), class: "user_operation_btn user_edit_btn") %>
      </div>
    </div>
  </div>

  <div class="main_top_sub">
    <div class="main_top_sub_left">
      <p class="sort_btn active">50音順</p>
    </div>
    <div class="main_top_sub_right">
    </div>
  </div>
  
  <div class="main_contents">
    <div class="main_contents_wrapper">
      <div class="character_list">
        <div class="character_list_top">
          <div class="character_list_top_left">
            <p class="character_list_title">Member</p>
          </div>
          <div class="character_list_top_right">
            <%= f.submit "カテゴリ登録", class: "category_submit_btn click_btn" %>
          </div>
        </div>
        <div class="character_checkboxies">
          <% @characters.each do |character| %>
            <div class="character_checkbox">
              <label for="<%= character.id %>" class="character_label">
                <input type="checkbox" name="category[character_ids][]" class="character_input" id="<%= character.id %>" value="<%= character.id %>" multiple>
                <% if character.image.attached? %>
                  <%= image_tag character.image, class: "character_input_image" %>
                <% else %>
                  <%= image_tag "no_image.png", class: "character_input_image" %>
                <% end %>
                <p class="character_input_name"><%= character.name %></p>
                <p class="character_input_description"><%= character.describe[0, 30] %>...</p>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
