<div class="main_top">
  <div class="main_top_data category_data">
    <div class="category_data_left">
      <div class="top_title">
        <%= @category.name %>
      </div>
      <div class="top_subtitle">
        <%= @category.describe %>
      </div>
    </div>
    <div class="category_data_right">
      <%= link_to edit_category_path(@category), class: "edit_category_btn" do %>
        カテゴリ編集<i class="fa-solid fa-pen-to-square fa-lg"></i>
      <% end %>
    </div>
  </div>
  <div class="main_top_user_data">
    <div class="current_user_name">
      <%= current_user.name %><i class="fa-solid fa-angle-down"></i>
    </div>
    <%= image_tag "no_image.png", class: "current_user_image" %>
    <div class="user_operation">
      <%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "user_operation_btn user_logout_btn") %>
      <%= link_to("ユーザー情報編集", edit_user_path(current_user), class: "user_operation_btn user_edit_btn") %>
    </div>
  </div>
</div>

<div class="main_top_sub">
  <div class="main_top_sub_left">
    <%= link_to "会話日付順", category_path, class: "sort_btn click_btn #{'active' unless params[:sort]}" %>
    <%= link_to "入力更新順", category_path(sort: "updated_at"), class: "sort_btn click_btn #{'active' if params[:sort] == "updated_at"}" %>
  </div>
  <div class="main_top_sub_right">
    <div class="update_time">
      自動更新
    </div>
  </div>
</div>

<div class="main_contents">
  <div class="main_contents_wrapper">
    <div class="characters">
      <% @characters.each do |character| %>
        <div class="character">
          <div class="character_info">
            <div class="character_image">
              <% if character.image.attached? %>
                <%= image_tag character.image %>
              <% else %>
                <%= image_tag "no_image.png" %>
              <% end %>
            </div>
            <div class="character_name"><%= character.name %></div>
            <div class="detail">
              <%= link_to("詳細編集", edit_character_path(character), class: "edit_character_btn character_btn click_btn") %><br>
              <%= link_to("データ削除", character_path(character), method: :delete, data: {confirm: "「#{character.name}」のデータを削除してもよろしいですか？"}, class: "delete_character_btn character_btn click_btn") %>
            </div>
          </div>
          <div class="character_topic">
            <div class="future_topic">
              <div class="topic_type_future">
                Future
              </div>
              <% if character.future_topics[0] %><%# 何故かheroku上では[0]をつけないとエラーが出る・・・ %>
                <% future_topic = character.future_topics[0] %>
                <%= form_with model:future_topic, url: future_topic_path(future_topic), class: "topic_form", data: future_topic.id, local: true do |f| %>
                  <%= f.hidden_field :character_id, value: character.id %>
                  <%= f.text_area :future_topic, class: "topic_input future_topic_input" , disabled: true %>
                <% end %>
              <% end %>
            </div>
            <div class="past_topic" id="past_topic_<%= character.id %>">
              <div class="topic_type_past">
                Past
              </div>
              <% if character.past_topics[0] %><%# 上記同様・・・ %>
                <% latest_past_topic = character.past_topics.order(created_date: :DESC).order(id: :DESC)[0] %>
                <%= form_with model:latest_past_topic, url: past_topic_path(latest_past_topic), class: "topic_form", data: latest_past_topic.id, local: true do |f| %>
                  <%= f.hidden_field :character_id, value: character.id %>
                  <%= f.date_field :created_date, class: "created_date past_topic_input past_topic_create_date", disabled: true %>
                  <%= f.text_area :past_topic, class: "topic_input past_topic_input past_topic_text", disabled: true %>
                <% end %>
              <% end %>
              <%# <div class="topic_btns"> %>
                <a class="index_new_topic_btn topic_btn" data-character_id="<%= character.id %>" disabled="disabled"><i class="fa-solid fa-plus topic-plus-icon"></i></a>
                <a class="index_delete_topic_btn topic_btn" data-character_id="<%= character.id %>" disabled="disabled"><i class="fa-regular fa-trash-can"></i></a>
              <%# </div> %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
